@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-menu {
  width: 345px;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.side-button :hover {
  color: white;
}
